<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, max-width=640, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>翡翠</title>
    <link href="./public/css/common.css" rel="stylesheet"></link>
    <link href="./public/css/index.css" rel="stylesheet"></link>
</head>

<body>
    <div class="box">
        <div class="bg-dark1">
            <!-- <h3 class="box-title text-white">芳华不虚度，一见玉倾心</h3> -->
            <div class="box-img">
                <img style="width: 80%; padding-top: 2rem;" src="../public/images/tt.png" alt="">
            </div>
            <div class="box-img">
                <img src="../public/images/timg.jpg" alt="">
            </div>
            <div class="box-text text-white">
                翡翠是最受中国人喜爱的珠宝，据统计，平均每三个中国人就拥有一件翡翠饰品。但是您真的了解翡翠吗？您以前是否买贵了？甚至是否买到过假货？
            </div>
        </div>
        <div class="box-img">
            <img src="../public/images/img3.jpg" alt="">
        </div>
        <div class="box-text">
            翡翠从原产地到工厂，再到商场，中间经过层层转手，很多<b class="text-red">品质一般的翡翠都已成了<span class="text18 font-bold">天价</span> </b>。
        </div>
        <div class="box-img">
            <img src="../public/images/f7.jpg" alt="">
        </div>
        <div class="box-text text-point">
            <p style="font-style: italic;font-size: 1.3rem;padding-bottom: 5px;">想买最实惠品质最高的翡翠，找到<b class="text-red text16">源头很重要！【xunmeng2627】</b></p>
        </div>
        <div class="box-img border2" style="width: 90%; margin-left: 5%;">
            <img src="../public/images/f4.jpg" alt="">
        </div>
        <div class="box-img border2" style="width: 90%; margin-left: 5%;">
            <img src="../public/images/f2.png" alt="">
        </div>
        <div class="box-img border2" style="width: 90%; margin-left: 5%;">
            <img src="../public/images/f1.png" alt="">
        </div>
        <div class="box-text text-point">
            <p style="font-style: italic;">
                现在<b>寻梦</b>开启全新的运营模式：
                <b>网络直播+专供代购</b>，来<b class="text-red">【xunmeng2627】</b>直播间，实名认证，实体店保驾护航，翡翠
                <b>放心选购。</b>
            </p>
        </div>
        <div class="box-img border2" style="width: 90%; margin-left: 5%; margin-bottom: 1rem;">
            <img src="../public/images/db1.png" alt="">
        </div>
       <div style="border-top: 2px dotted white; border-bottom: 2px dotted white;height: 9px; margin-bottom: 1rem; "></div>
        <div class="flex" style="align-items:center;">
            <div class="box-text padding10" style="width: 50%;">
                再也不用担心被坑，再也不用担心买到贵货！让您足不出户，也能拥有最好的产品！
            </div>
            <div class="box-img border2" style="flex: 1">
                <img src="../public/images/baijian_05.jpg" alt="">
            </div>
        </div>
        <div class="flex" style="align-items:center;">

            <div class="box-img border2" style="flex: 1">
                <img src="../public/images/zb1.jpg" alt="">
            </div>
            <div class="box-text padding10" style="width: 50%; vertical-align: middle">
                主播每天直播带您逛全国最大玉石市场，为您现场代购，现场挑货，直播在线下单，所见即所得。
            </div>
        </div>
        <div class="flex" style="align-items:center;">
            <div class="box-text padding10" style="width: 50%;">
                好物捡漏，边看边买，逗比主播，幽默在线，有趣有料！

            </div>
            <div class="box-img border2" style="flex: 1">
                <img src="../public/images/zb2.png" alt="">
            </div>
        </div>

        <div class="box-text padding15" style="border-top: 2px dotted white;">
            加微信<b class="text-red text16">【xunmeng2627】</b>进群天天领福利，与天南地北的翡翠爱好者们畅聊！充足的货源，多样的款式，让您乐不停！
        </div>
        <div class="box-img">
            <img src="../public/images/notell.jpg" alt="">
        </div>
        <div class="box-text" >
            <p>在线近距离观看主播试戴宝贝，让您<b>美不停！</b></p>
            <p>真实多角度多光线视角实拍，让您<b>看不停！</b></p>
            <p>和主播直接沟通咨询，让您<b>学不停！</b></p>
            <p>最重要的是，主播当场帮您砍价，让您<b>赚不停！</b></p>
        </div>
        <div class="box-img border2" style="width: 90%; margin-left: 5%;">
            <img src="../public/images/s33.png" alt="">
        </div>
        
        <div class="box-text">
                <p style=" padding: 5px; margin: 10px auto;background: rgba(32,78,36,0.3);color: white; text-align: center">欢迎加寻梦微信号
                        <b class="text-red">【xunmeng2627】</b></p>
            <!-- <p class=" text-bold text16 pb-10">欢迎加寻梦微信号
                <b class="text-red">【xunmeng2627】</b>
            </p> -->
            <p class="text-bold">寻梦每天都会挑出性价比高的翡翠发朋友圈，供大家抢购！</p>
        </div>
        <div class="box-img" style="width: 90%; margin-left: 5%; margin-bottom: 20px;">
            <img src="../public/images/code.jpg" alt="" style="width: 70%">
        </div>
        <!-- <div class="box-img">
            <img src="../public/images/wx1.jpg" alt="">
        </div> -->
        <div class="box-img">
            <img src="../public/images/wx22.png" alt="">
        </div>
        <div class="box-text box-title">
            黄金有价玉无价，翡翠稀美誉天下。
        </div>
    </div>
    <div class="fc-foot flex padding15">
        <div class="eye" style="width: 60%">
            <p>——关注微信了解更多——<br>xunmeng2627（长按复制）</p>
        </div>
        <div class="box-img">
            <a href="weixin://"><img src="../public/images/wx-btn.jpg" alt=""></a>
        </div>
    </div>
    <div id="showBox" class="box-alert">
        <div class="box-alert-bg"></div>
        <div class="box-alert-text">
            <!-- <span id="closeBtn" style="position:absolute;top:5px;right:10px;display: block; width: 30px; height: 30px;font-size:20px;text-align: center; line-height: 30px;">X</span> -->
            <h3>【寻梦忠告】</h3>
            <p style="font-size: 1.3rem">您真想失去一次与源头厂家交流机会吗？</p>
            <p style="font-size: 1.5rem;font-weight: bold;">据统计，93%的客户因没有找到源头厂家，而买到价格偏高的翡翠！</p>
            <p class="text-red">寻梦老师的私人微信</p>
            <p class="text-red">xunmeng2627 微信</p>
            <p class="text-zong"> ★长按复制加微信★</p>
            <p class="go">
                <a href="weixin://">点击去微信</a>
            </p>
        </div>
    </div>
</body>
<script>
    (function (window, location) {

        history.replaceState(null, document.title, location.pathname + "#!/stealingyourhistory");

        history.pushState(null, document.title, location.pathname);

        window.addEventListener("popstate", function () {

            if (location.hash === "#!/stealingyourhistory") {

                history.replaceState(null, document.title, location.pathname);

                setTimeout(function () {
                    document.getElementById("showBox").style.display = "block";
                    // document.getElementById("closeBtn").addEventListener('click',function(){
                    //     document.getElementById("showBox").style.display = "none";
                    //     window.location.reload();

                    // });
                }, 0);
            }
        }, false);
    }(window, location));
    
</script>

</html>